body{
    margin: 1rem auto;
}
.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-colorcolor);
    border-radius: .8rem;
background: var(--second-bg-color);

}